body {
	background-color: #3498db;
}

#awesome {
	width: 250px;
}

p { 
	font-size: 24px; 
	color: yellow;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 56px;
	color: yellow;
	font-family: 'Audiowide', cursive;
}

h3 {
	color: white;
}